body {
  margin: 0;
  padding: 20px;
  background-color: #000;
}

.wrap-block {
  box-sizing: border-box;
  width: 350px;
  border: 1px solid red;
  padding: 10px;
  background-color: #308dc0;
  margin-top: 40px;
}

.wrap-block_nomt {
  margin: 0;
}

.block {
  padding: 10px;
  border: 1px solid red;
}

.middle-block {
  background-color: #ffa500;
}

.content-block {
  background-color: #ddd;
}
